<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top" style="background-color: #9ea7aa;">
  <!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <button class="navbar-toggler navbar-toggler-right"
          type="button"
          (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">IdeaReview</a>
  <div class="collapse navbar-collapse"
      id="navbarNav"
      (collapsed)="collapsed($event)"
      (expanded)="expanded($event)"
      [collapse]="isCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link"
          routerLink="/home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true}"
          (click)="isCollapsed = !isCollapsed">
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/idea" routerLinkActive="active" (click)="isCollapsed = !isCollapsed">
          Idea
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active" (click)="isCollapsed = !isCollapsed">
          About
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active" (click)="isCollapsed = !isCollapsed">
          Contact
        </a>
      </li>

    </ul>
  </div>
</nav>
