

<div class="container"
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">
  <app-nav></app-nav>
</div>

<div class="container top"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="0"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="15%">
    Item 1
  </div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="3">
    Item 2
  </div>
  <div class="item item-3" fxFlex>
    <app-home></app-home>
  </div>
</div>
