

<div class="container"
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">
  <app-nav></app-nav>
</div>

<div class="container top"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="0"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="15%">
    Links to products
    
  </div>
  <div class="item item-2" fxFlex="15%" fxFlexOrder="3">
    Links ot news items
  </div>
  <div class="item item-3" fxFlex>
    <router-outlet></router-outlet>
  </div>
</div>
