<h2>Is your idea a good bet?</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a magna facilisis, porta dui auctor, iaculis tellus. Nam auctor ligula ac justo feugiat fermentum. Integer sed velit eget dolor tempor mollis. Fusce nec aliquam mi.
</p>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/idea-start" routerLinkActive="active">Test your Idea</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link disabled" routerLink="/business" routerLinkActive="active">Business Questions</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link disabled" routerLink="/technology" routerLinkActive="active">Technology Questions</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link disabled" routerLink="/idea-score" routerLinkActive="active">Idea Score</a>
  </li>
</ul>
<router-outlet></router-outlet>
