<p>
  idea works!
</p>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/idea-start" routerLinkActive="active">Test your Idea</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link disabled" routerLink="/business" routerLinkActive="active">Business Questions</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link disabled" routerLink="/technology" routerLinkActive="active">Technology Questions</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link disabled" routerLink="/idea-score" routerLinkActive="active">Idea Score</a>
  </li>
</ul>
<router-outlet></router-outlet>
